.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.5s;
}

.header__lang-link:first-child {
  text-decoration-line: underline;

}

.header__lang-link:hover {
  opacity: .6;
}

@media screen and (max-width: 710px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
