.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  /* identical to box height, or 114% */
  color: #FFFFFF;

}


@media screen and (max-width: 710px) {
  .footer__copyright {
    margin-top: 48px;
    text-align: left;
    line-height: 1;

  }
}
