.cover {
  position: relative;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.cover__wrapper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
