.footer {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 96px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer {
    max-width: 928px;
    margin-top: 92px;
    padding-bottom: 24px;

  }
}
