.footer {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 710px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
