.place__website {
  /* max-width: calc(50% - 40px); */
  max-width: (100% - 500px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place__website {
    max-width: calc(100% - 472px);

  }
}
